[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
jinja2 = "*"
flask-sqlalchemy = "*"
pandas = "*"
numpy = "*"
scikit-learn = "*"
python-dotenv = "*"
opendatasets = "*"
SQLAlchemy = "1.3.24"


[dev-packages]
jupyter = "*"

[requires]
python_version = "3.9"
