<!DOCTYPE html>

<head>
    <title>Spotify Recommender</title>
    <link rel="stylesheet" href="https://unpkg.com/picnic" />
</head>

<body>
    <div style="width:60%; margin: 0 auto;">
        <a href="/">
            <h1>{{message}}</h1>
        </a>
        <p>Please enter a song title below to see 5 recommended songs.</p>
        <form action="/recommend" method="post">
            <input type="text" name="song_title" placeholder="Song Title">
            <input type="submit" value="GO!" style="margin: 40 auto;">
        </form>
        {% if songs %}
        <h3>Recommendations: </h3>
        {% endif %}
        {% for song in songs %}
        <div style="background-color:#EEE; padding:0 10px; border-radius:5px; margin:10px;">
            <p style="margin:0;">Title: {{song[0]}}</p>
            <p style="margin:0;">Artist: {{song[1]}}</p>
        </div>
        {% endfor %}

    </div>
</body>

</html>